<?xml version="1.0"?>
<siteconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <webname>美国旭贝尔婴幼儿配方奶粉官方网站-今天旭贝尔，明天诺贝尔！</webname>
  <weburl>http://www.brightbeginnings.com</weburl>
  <weblogo>/upload/201501/30/201501301040415124.png</weblogo>
  <webcompany>宝瑞莱(上海)营养品有限公司</webcompany>
  <webaddress>上海市黄浦区人民北路850号</webaddress>
  <webtel>-</webtel>
  <webfax>-</webfax>
  <webmail>411861@qq.com</webmail>
  <webcrod>-</webcrod>
  <webtitle>旭贝尔官方网站</webtitle>
  <webkeyword>旭贝尔官方网站</webkeyword>
  <webdescription>旭贝尔官方网站</webdescription>
  <webcopyright>版权所有 旭贝尔官方网站</webcopyright>
  <webpath>/</webpath>
  <webmanagepath>admin</webmanagepath>
  <staticstatus>1</staticstatus>
  <staticextension>html</staticextension>
  <memberstatus>1</memberstatus>
  <commentstatus>0</commentstatus>
  <logstatus>1</logstatus>
  <webstatus>1</webstatus>
  <webclosereason>网站正在维护中，请稍候访问……</webclosereason>
  <webcountcode>&lt;script src="http://s24.cnzz.com/stat.php?id=1996164&amp;web_id=1996164&amp;show=pic" language="JavaScript"&gt;&lt;/script&gt;</webcountcode>
  <smsapiurl>http://sms.dtcms.net/httpapi/</smsapiurl>
  <smsusername>test</smsusername>
  <smspassword>e10adc3949ba59abbe56e057f20f883e</smspassword>
  <emailsmtp>smtp.qq.com</emailsmtp>
  <emailport>25</emailport>
  <emailfrom>411861@qq.com</emailfrom>
  <emailusername>411861@qq.com</emailusername>
  <emailpassword>EA4C94A47ED87546</emailpassword>
  <emailnickname>旭贝尔官方网站</emailnickname>
  <filepath>upload</filepath>
  <filesave>2</filesave>
  <fileextension>gif,jpg,png,bmp,rar,zip,doc,xls,txt</fileextension>
  <attachsize>51200</attachsize>
  <imgsize>10240</imgsize>
  <imgmaxheight>800</imgmaxheight>
  <imgmaxwidth>800</imgmaxwidth>
  <thumbnailheight>300</thumbnailheight>
  <thumbnailwidth>300</thumbnailwidth>
  <watermarktype>2</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>80</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>旭贝尔官方网站</watermarktext>
  <watermarkfont>Tahoma</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <sysdatabaseprefix>dt_</sysdatabaseprefix>
  <sysencryptstring>旭贝尔官方网站</sysencryptstring>
</siteconfig>