body {
}
.sina {display:block;width:30px; height:30px;margin:4px 0px 0px 175px;float:left;
}
.QQ {display:block;width:30px; height:30px;margin:4px 0 1px 13px;float:left;
}
.tmall {display:block;width:30px; height:30px;margin:4px 0 0px 13px;float:left;
}
